body { 
     background-image: url(fondo.png);
}

h1 {
  font-family: 'Barlow', sans-serif;
  text-align: center;
  color: #ffffff;
    border: 0.5rem solid rgb(25, 20, 70);
     -webkit-text-stroke: 0.1rem rgba(29, 43, 122, 0.473);
      box-shadow: 0.3rem 0.3rem 1rem black;
      background-color: rgb(255, 255, 255);
}


header {
background-color: rgb(209, 236, 255);
padding: 2rem 1rem;
 box-shadow: 0.3rem 0.3rem 1rem black;
}

nav {
  display: flex;
  gap: 10rem;
  justify-content: center;
}

nav a {
  text-decoration: none;
  color: midnightblue;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
text-align: center; 
}

.primera {
  width: 45%;
  display: block;
  border-radius: 10%;
  margin: 1rem auto;
      box-shadow: 0.3rem 0.3rem 1rem black;
border: 0.3rem solid rgb(255, 255, 255);
}

.epigrafe {
     text-align: center;
  color: #000000;
    background-color: rgb(255, 255, 255);
    border-radius: 10%;
     box-shadow: 0.3rem 0.3rem 1rem black;
}
p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: justify;
    color: #000000;
}

section {
    width: 80%;
    margin: 2rem auto;
}

article {
    background-color: rgba(255, 255, 255, 0.932);
    padding: 2rem;
    margin-bottom: 2rem;
    border-radius: 1rem;
    box-shadow: 0.3rem 0.3rem 1rem black;
}

h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #000000;
    margin-bottom: 1rem;
}

ul {
    list-style-type: circle;
    padding-left: 1.5rem;
    color: #000000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
 .video {
    display: flex;
    justify-content: center;
 }

 .foto4{
    width: 35%;
    display: block;

    margin: 2rem auto;

    border-radius: 1rem;
    border: 0.3rem solid white;

    box-shadow: 0.3rem 0.3rem 1rem black;
}

.foto3{
    width: 35%;
    display: block;

    margin: 2rem auto;

    border-radius: 1rem;
    border: 0.3rem solid white;

    box-shadow: 0.3rem 0.3rem 1rem black;
}